node_modules
bower_components
.tmp
ui/app/styles/main.css
deploy/prod.properties
deploy/dev.properties
src/public
deploy/local.properties
mlcp.conf
deploy/local-deploy.properties
upload
.DS_Store
dist
*.pid

*.sublime-project

*.sublime-workspace
