<form class="form edit-memo" role="form" name="modal">
  <div class="modal-header">
      <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="alert alert-danger loginerror" ng-repeat="alert in alerts" ng-cloak>{{alert}}</div>
    </div>
    <div class="spotlight">
      <script type="text/ng-template" id="customTemplate.html">
        <a>
            <img ng-src="/demo/attachment?uri={{match.model.uri}}" height="32">
            <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        </a>
      </script>
      
      <div class="form-group">
        <label class="control-label">Spotlight</label> 
        <a class="btn btn-success btn-xs" ng-click="model.addSpotlightLink()"><span class="glyphicon glyphicon-plus icon-white"></span></a>

        <div class="row" ng-repeat="demo in model.spotlight">
          <div class="col-md-3"><input type="text" class="form-control" placeholder="Slogan"  ng-model="model.spotlight[$index].title"/></div>
          <div class="col-md-4"><input type="text" class="form-control" placeholder="Demo" ng-model="model.spotlight[$index].demo" typeahead="choice.name for choice in model.demos | filter:$viewValue" required/></div>
          <div class="col-md-4"><input type="text" class="form-control" placeholder="Attachment" ng-model="model.spotlight[$index].attachment" typeahead="choice.attachmentName for choice in model.attachments(model.spotlight[$index].demo, $viewValue)" typeahead-template-url="customTemplate.html" required/></div>
          <div class="col-md-1 icon">
            <a class="btn btn-danger btn-xs" ng-click="model.removeSpotlightLink($index)">
              <span class="glyphicon glyphicon-trash icon-white"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary pull-right" ng-click="ok()">Save</button>
    <button class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
  </div>
</form>