<form class="form edit-memo" role="form">
  <div class="modal-header">
      <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="alert alert-danger loginerror" ng-repeat="alert in alerts" ng-cloak>{{alert}}</div>
    </div>
    <div class="vanguard">

      <div class="form-group">
        <label class="control-label">News Links</label>
        <a class="btn btn-success btn-xs" ng-click="model.addVanguardNewsLink()"><span class="glyphicon glyphicon-plus icon-white"></span></a>

        <div class="row" ng-repeat="news in model.vanguard.news track by $index">
          <div class="col-md-6"><input type="text" class="form-control" placeholder="title"  ng-model="news.title" maxlength="45"/></div>
          <div class="col-md-5"><input type="text" class="form-control" placeholder="url"  ng-model="news.link"/></div>
          <div class="col-md-1 icon">
            <a class="btn btn-danger btn-xs" ng-click="model.removeVanguardNewsLink($index)">
              <span class="glyphicon glyphicon-trash icon-white"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Service Links</label>
        <a class="btn btn-success btn-xs" ng-click="model.addVanguardServicesLink()"><span class="glyphicon glyphicon-plus icon-white"></span></a>

        <div class="row" ng-repeat="service in model.vanguard.services track by $index">
          <div class="col-md-6"><input type="text" class="form-control" placeholder="title"  ng-model="service.title" maxlength="45"/></div>
          <div class="col-md-5"><input type="text" class="form-control" placeholder="url"  ng-model="service.link"/></div>
          <div class="col-md-1 icon">
            <a class="btn btn-danger btn-xs" ng-click="model.removeVanguardServicesLink($index)">
              <span class="glyphicon glyphicon-trash icon-white"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary pull-right" ng-click="ok()">Save</button>
    <button class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
  </div>
</form>
