<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base href="/">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/images/favicon.png" />
    <!-- build:css(.tmp) styles/all.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <!-- endbuild -->
  </head>
  <body ng-app="demoCat">
    <ml-header></ml-header>

    <!-- Add your site or application content here -->
    <div class="container-fluid content" ng-view=""></div>
    <footer ng-class="{true: 'footer loggedout', false: 'footer loggedin'}[user == unauthenticated]">
      <div class="container-fluid">
        <p class="text-muted pull-left">Copyright &copy; 2014 MarkLogic Corporation. All Rights Reserved.</p>
        <img src="/images/marklogic-poweredby.png" class="pull-right"/>
      </div>
    </footer>

    <!-- build:js scripts/plugins.js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/ckeditor/ckeditor.js"></script>
    <script src="bower_components/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/ml-utils/ml-utils.min.js"></script>
    <script src="bower_components/ml-common-ng/dist/ml-common-ng.min.js"></script>
    <script src="bower_components/ml-search-ng/dist/ml-search-ng.js"></script>
    <script src="bower_components/ml-search-ng/dist/ml-search-ng-tpls.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="auth/auth-srv.js"></script>
    <script src="header/header-dir.js"></script>
    <script src="header/header-ctrl.js"></script>
    <script src="search/search.js"></script>
    <script src="search/search-ctrl.js"></script>
    <script src="common/common.js"></script>
    <script src="scripts/directives/add-comment.js"></script>
    <script src="scripts/directives/autocomplete.js"></script>
    <script src="scripts/services/features.js"></script>
    <script src="scripts/services/technologies.js"></script>
    <script src="scripts/services/domains.js"></script>
    <script src="scripts/services/demo.service.js"></script>
    <script src="scripts/controllers/demo.js"></script>
    <script src="scripts/controllers/create.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <!-- endbuild -->
  </body>
</html>
