<!--
    Original version from: https://github.com/JustGoscha/allmighty-autocomplete

    Modifications for demo cat:
      * Extracted template html into this file
      * Removed orderBy on li's ng-repeat

-->
<div class="autocomplete {{ attrs.class }}" id="{{ attrs.id }}">
  <input
    type="text"
    ng-model="searchParam"
    placeholder="{{ attrs.placeholder }}"
    class="{{ attrs.inputclass }} form-control"
    id="{{ attrs.inputid }}"/>
  <ul ng-show="completing && suggestions.length>0">
    <li
      suggestion
      ng-repeat="suggestion in suggestions | filter:searchFilter track by $index"
      index="{{ $index }}"
      val="{{ suggestion }}"
      ng-class="{ active: ($index === selectedIndex) }"
      ng-click="select(suggestion)"
      ng-bind-html="suggestion | highlight:searchParam"></li>
  </ul>
</div>
