<ul class="items-view col-md-12" ng-show="mode == 'view'" ng-click="enabled && (mode = 'edit')">
  <label>{{label}}</label>
  <li ng-repeat="item in editItems">{{item}}</li>
</ul>
<div class="items-edit col-md-12 form-horizontal" ng-show="mode == 'edit'">
  <div class="form-group">
    <label class="col-sm-2 control-label">{{label}}</label>
    <div class="col-sm-10">
      <select ng-model="itemChoices.optItem">
        <option>Select...</option>
        <option class="selected-item" ng-repeat="item in itemChoices.list">{{item}}</option>
      </select>
      <input type="text" ng-model="itemChoices.selItem"/>
      <button class="add-item" ng-click="addItem()">Add</button>
    </div>
    <div class="col-sm-10">
      <div class="item btn btn-info" ng-repeat="item in editItems">
        <span>{{item}}</span>
        <span class="glyphicon glyphicon-remove-circle" ng-click="removeItem(item)"></span>
      </div>
      <div class="inline-controls" ng-show="editType === 'inline'">
        <a href="#" ng-click="mode = 'view'">Cancel</a>
        <button class="inline-save btn btn-primary" ng-click="mode='view'; save()">Save</button>
      </div>
    </div>
  </div>
</div>
