<div class="slider">
  <div class="slide" ng-repeat="image in images" ng-show="image.visible">
    <a href="{{image.uri}}"><img ng-src="/images/spotlight/{{image.src}}" /></a>
  </div>
  <div class="arrows">
    <a class="left" href="#" ng-click="overlappingPrevious()">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="pause" href="#" ng-click="play()">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    </a>
    <a class="pause" href="#" ng-click="pause()">
      <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
    </a>
    <a class="right" href="#" ng-click="overlappingNext()">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
  </div>
</div>