<div class="home">
  <div class="col-md-offset-2 col-md-8">
    <div class="row vanguard">
      <div class="col-md-8">
        <h3>Vanguard</h3>
        <div class="hp-content">
          <div class="pull-left news">
            <h4>News</h4>
            <p ng-repeat="news in model.vanguard.news"><a ng-href="{{news.link}}" target="_blank">{{news.title}}</a></p>
          </div>
          <div class="pull-left services">
            <h4>Services</h4>
            <p ng-repeat="service in model.vanguard.services"><a ng-href="{{service.link}}" target="_blank">{{service.title}}</a></p>
          </div>
        </div>
        <button ng-show="model.user.isAdmin()" type="button" class="btn btn-default btn-xs pull-right" ng-click="editVanguard()">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        </button>
      </div>
      <div class="col-md-4 donttouch">
        <h3>Don't Touch<span class="subheader">
          Demo in progress</span></h3>
          <div class="hp-content">
            <ul ng-repeat="event in model.donttouch">
              <li><a ng-href="/detail{{event.uri}}"><strong>{{event.title}}</strong></a></li>
              <li><strong>Presenter:</strong> {{event.presenter}}</li>
              <li><strong>Date:</strong> {{event.start | date:'shortDate' }}</li>
              <li><strong>Start time:</strong> {{event.start | date:'shortTime' }}</li>
              <li><strong>Duration:</strong> {{event.duration}} minutes</li>
            </ul>
        </div>
        <button ng-show="model.user.isWriter()" type="button" class="btn btn-default btn-xs pull-right" ng-click="editDontTouch()">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        </button>
      </div>
    </div> <!--/end Vanguard/don't touch row -->
    <div class="row">
      <div class="spot col-md-12">
        <h3>Spotlight</h3>
        <slider images="model.spotlight" uri-prefix="/detail" image-prefix="/demo/attachment?uri="/>
        <button ng-show="model.user.isAdmin()" type="button" class="btn btn-default btn-xs pull-right" ng-click="editSpotlight()">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        </button>
      </div>
    </div> <!--/end spotlight row  -->
  </div>
</div>
