/* homepage styles */
.home .vanguard, .home .donttouch {
	color: #fff;

	h3 {
		font-size: 20px;
        height: 40px;
        margin-top: 10px;
        text-align: center;


	   span.subheader {
            display: inline-block;
            font-style: italic;
            font-size: 16px;
        }

    }

    .hp-content {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #222;
        height: 200px;
        margin-bottom: 20px;
        overflow: scroll;

        p {
            padding: 5px;
        }

        ul {
            list-style: none;
            padding: 10px;
        }

        .news, .services {
            padding: 10px;
            width: 50%;
        }
    }
  
}

.home .vanguard {
	background: #4263a8;
	border-top-left-radius: 5px;
}

.home .donttouch {
	background: #CA3639;
	border-top-right-radius: 5px;
}

.home .spot {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

