@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@icon-font-path:  "/fonts/";
@FontAwesomePath:    "/fonts/";

.navbar-brand {
  background-image: url(/images/logo64.png);
  background-repeat: no-repeat;
  font-size: 3em;
  height: 64px;
  line-height: 64px;
  padding-top: 0;
  padding-left: 64px;
}

.item {
  margin-top: 5px;
  margin-right: 5px;
}

.detail .editable {
  min-height: 16px;
  min-width: 16px;
}

.detail {
  .desc textarea {
    width: 100%;
  }

  .credentials div, .repo div, .version div {
    display: inline-block;
  }

  .maintainer div {
    display: inline-block;
  }

  .host {
    div {
      display: inline-block;
    }

    input[type=text] {
      width: 300px;
    }
  }

  .host-type div {
    display: inline-block;
  }

  .glyphicon-edit {
    cursor: pointer;
  }
}

.items-view li {
  margin-left: 30px;
}

form .items-edit {
  margin-left: -10px;
}

.detail .items-edit {
  margin-left: -105px;
}

.bug {
  margin: 10px 0;
}

.bug, .comment {
  margin-left: 10px;
  &:nth-child(odd) {
    background-color: #eee;
  }
  div {
    margin-left: 15px;
  }
}

ul.bug-meta {
  list-style: none;
  * {
    display: inline-block;
  }
  li {
    margin-right: 10px;
  }
}

.items-edit .inline-controls {
  margin-top: 10px;
}


.welcome {
  margin-top: 14px;
}

.facet-list .facet a {
  cursor: pointer;
}

.results {
  ul.pagination {
    margin: 0;
  }

  .search-metrics {
    line-height: 28px;
    margin-left: 10px;
    vertical-align: top;
  }

  .highlight {
    font-weight: bold;
  }
}

form[name=profileForm] {
  .valid-email {
    min-height: 20px;
  }
}

#autocomplete-editable {
    margin-left: 0;
}

/* Incorporate CSS for autocomplete from: https://github.com/JustGoscha/allmighty-autocomplete */
.autocomplete{
  width: 100%;
  position: relative;
  display: table-cell;

  input{
    font-size: 1em;
    width: 100%;
    padding:0.1em;
  }

  ul{
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0;
    width: 100%;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    z-index: 1;
  }

  li{
    text-align: left;
    list-style:none;
    width: 100%;
    padding:0.4em;
    background-color: #fff;
  }

  li.active{
    width: 100%;
    background-color: #4bf;
  }

  .highlight {
    background-color: #E2E2E2;
  }

  li.active .highlight {
    background: #666;
    color: #fff;
  }

}
