<div class="row">
  <ml-facets class="col-sm-2" facets="model.search.facets" toggle="toggleFacet(facet, value)" template="search/facets-dir.html"></ml-facets>
  <div class="col-sm-10">
    <h3 ng-if="model.search.total === 0">No results to show</h3>

    <div ng-if="model.search.total > 0" class="results">

      <pagination class="pagination-sm" ng-model="model.page" ng-change="search()" max-size="10" boundary-links="true"
                  total-items="model.search.total" items-per-page="model.search['page-length']"></pagination>

      <ml-metrics search="model.search"></ml-metrics>
      <ml-results results="model.search.results" template="search/results-dir.html"></ml-results>
    </div>
  </div>
</div>
