<div class="row">
  <div class="col-sm-2">
    <div class="row facet-list">
      <div class="col-sm-12 facet">
        <div ng-repeat="q in model.quick">
          <label class="checkbox-inline restricted">
            <input type="checkbox" name="q.label" ng-model="q.checked" ng-change="addQuery()"><a ng-click="q.checked = !q.checked; addQuery();">{{ q.label }}</a>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <ml-facets class="col-sm-12" facets="model.search.facets" toggle="toggleFacet(facet, value)" template="search/facets-dir.html"></ml-facets>
    </div>
  </div>
  <div class="col-sm-10">
    <h3 ng-if="model.search.total === 0">No results to show</h3>

    <div ng-if="model.search.total > 0" class="results">

      <pagination class="pagination-sm" ng-model="model.page" ng-change="search()" max-size="10" boundary-links="true"
                  total-items="model.search.total" items-per-page="model.search['page-length']"></pagination>

      <ml-metrics search="model.search"></ml-metrics>
      <ml-results results="model.search.results" template="search/results-dir.html"></ml-results>
    </div>
  </div>
</div>
