<div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h2 ng-if="!model.edit">Create a Demo</h2>
      <h2 ng-if="model.edit">Edit a Demo</h2>
      <p class="text-danger" ng-if="model.formError &amp;&amp; !model.formValid">
        <alert type="danger"><strong>Invalid input, details below.</strong></alert>
      </p>
    </div>
  </div>
  <form class="form-horizontal" name="createForm" novalidate>
    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2">
        <strong class="required"><span>*</span> <em>required</em></strong>
      </div>
    </div>
    <div class="row site-details">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Site Details</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label restricted">Restriction</label>
      <div class="col-sm-3">
        <label class="checkbox-inline restricted">
          <input type="checkbox" ng-model="model.demo.restricted">Access Restricted
        </label>
      </div>
    </div>
    <div class="form-group" ng-if="model.demo.restricted">
      <label class="col-sm-2 control-label text-danger restricted">Restriction Details</label>
      <div class="col-sm-8">
        <textarea class="form-control" ckeditor="editorOptions" ng-model="model.demo.restrictionDetails"></textarea>
      </div>
      <div>
        <span class="glyphicon glyphicon-info-sign" popover="Provide details here regarding the restrictions associated with this demo." popover-placement="bottom" popover-trigger="mouseenter"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label required">Demo Name<span>*</span></label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="model.demo.name" name="demoName" maxlength="55" required>
      </div>
      <div>
        <span class="glyphicon glyphicon-info-sign" popover="Try to keep the name as short as possible. Limited to 55 characters." popover-placement="bottom" popover-trigger="mouseenter"></span>
      </div>
    </div>
    <div class="row form-error">
      <div class="col-md-8 col-md-offset-2" ng-show="createForm.$submitted || createForm.demoName.$touched">
        <alert ng-show="createForm.demoName.$error.required" type="danger" close="createForm.demoName.$error.required = null">Demo Name is required.</alert>
      </div>
    </div>
    <div class="form-group contact">
      <label class="col-sm-2 control-label required">Points of Contact<span>*</span></label>
      <div class="col-sm-8">
        <a class="btn btn-primary btn-xs" ng-click="addPerson()">
          Add
        </a>
      </div>
    </div>
    <div class="form-group contact">
      <div ng-repeat="person in model.demo.persons" class="col-sm-8 col-sm-offset-2 contact-row">
        <div class="col-sm-3">
          <select class="form-control col-sm-4" ng-options="role for role in model.personRoleChoices" ng-model="person.role" name="contactRole" required>
            <option value="" disabled>Choose role</option>
          </select>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" placeholder="name" ng-model="person.personName" name="contactName" required>
        </div>
        <div class="col-sm-5">
          <input type="email" class="form-control" placeholder="email" ng-model="person.email" name="contactEmail" required>
        </div>
        <a class="btn btn-danger btn-xs" ng-click="removePerson($index)">
          <span class="glyphicon glyphicon-trash icon-white"></span>
        </a>
      </div>
      <div>
        <span class="glyphicon glyphicon-info-sign" popover="Anyone from outside MarkLogic should be marked as External Contact. Anyone able to troubleshoot with access or running the demo qualifies as Technical Contact. The (Sales) person who initiated the demo should be marked as Business Owner." popover-placement="bottom" popover-trigger="mouseenter"></span>
      </div>
    </div>
    <div class="row form-error">
      <div class="col-md-8 col-md-offset-2" ng-show="createForm.$submitted || createForm.contactRole.$touched || createForm.contactName.$touched || createForm.contactEmail.$touched">
        <alert ng-show="model.demo.persons.length === 0 || createForm.contactRole.$error.required || createForm.contactName.$error.required || createForm.contactEmail.$error.required" type="danger" close="">Points of Contact is required.</alert>
        <alert ng-show="createForm.contactEmail.$error.email" type="danger" close="">Invalid email.</alert>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label required">Short Description<span>*</span></label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="model.demo.shortdesc" maxlength="95" name="shortDesc" required>
      </div>
      <div>
        <span class="glyphicon glyphicon-info-sign" popover="Used for search result display. Limited to 95 characters." popover-placement="bottom" popover-trigger="mouseenter"></span>
      </div>
    </div>
    <div class="row form-error">
      <div class="col-md-8 col-md-offset-2" ng-show="createForm.$submitted || createForm.shortDesc.$touched">
        <alert ng-show="createForm.shortDesc.$error.required" type="danger" close="">Short Description is required.</alert>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Long Description</label>
      <div class="col-sm-8">
        <textarea class="form-control" ckeditor="editorOptions" ng-model="model.demo.description"></textarea>
      </div>
      <div>
        <span class="glyphicon glyphicon-info-sign" popover="Use the long description to provide an executive summary of what the demo does. Talk about the customer problem that this is demo is addressing, without assuming that your reader is already familiar with the customer. Use Memo's for extra material (accessible after creation)." popover-placement="bottom" popover-trigger="mouseenter"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Features</label>
      <div class="col-sm-8">
        <div class="input-group col-sm-5">
          <input type="text" class="feature-input form-control" ng-model="model.featureToAdd" typeahead="choice for choice in model.featureChoices | filter:$viewValue"/>
          <span class="input-group-addon" ng-click="addFeature()">
            <span class="glyphicon glyphicon-plus"></span>
          </span>
        </div>
        <div>
          <span class="glyphicon glyphicon-info-sign" popover="Features refer to functionality used in this demo that is enabled with or provided by MarkLogic." popover-placement="bottom" popover-trigger="mouseenter"></span>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <span class="feature" ng-repeat="feature in model.demo.features" class="btn btn-primary">{{feature}}<i class="remove-feature glyphicon glyphicon-trash" ng-click="removeFeature($index)"></i></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Technologies Used</label>
      <div class="col-sm-8">
        <div class="input-group col-sm-5">
          <input type="text" class="feature-input form-control" ng-model="model.technologyToAdd" typeahead="choice for choice in model.technologyChoices | filter:$viewValue"/>
          <span class="input-group-addon" ng-click="addTechnology()">
            <span class="glyphicon glyphicon-plus"></span>
          </span>
        </div>
        <div>
          <span class="glyphicon glyphicon-info-sign" popover="Technologies refer to non-MarkLogic toolkits or libraries used in this demo." popover-placement="bottom" popover-trigger="mouseenter"></span>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <span class="feature" ng-repeat="technology in model.demo.technologies" class="btn btn-primary">{{technology}}<i class="remove-feature glyphicon glyphicon-trash" ng-click="removeTechnology($index)"></i></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Targeted Browser(s)</label>
      <div class="col-sm-1" ng-repeat="browser in model.browserChoices">
        <label class="checkbox-inline">
          <input type="checkbox" value="{{browser}}" ng-checked="model.demo.browsers.indexOf(browser) >= 0"
                 ng-click="updateBrowsers(browser)">{{browser}}
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Domains</label>
      <div class="col-sm-8">
        <div class="input-group col-sm-5">
          <input type="text" class="feature-input form-control" ng-model="model.domainToAdd" typeahead="choice for choice in model.domainChoices | filter:$viewValue"/>
          <span class="input-group-addon" ng-click="addDomain()">
            <span class="glyphicon glyphicon-plus"></span>
          </span>
        </div>
        <div>
          <span class="glyphicon glyphicon-info-sign" popover="Domains refer to vertical markets as identified within MarkLogic" popover-placement="bottom" popover-trigger="mouseenter"></span>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <span class="feature" ng-repeat="domain in model.demo.domains" class="btn btn-primary">{{domain}}<i class="remove-feature glyphicon glyphicon-trash" ng-click="removeDomain($index)"></i></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Demo Attachments</label>
      <div class="col-sm-8">
        <input type="file" class="form-control" placeholder="Choose file(s)"  ng-multiple="true" ng-file-select ng-model="model.scriptFiles" name="attachments"/>
        <div ng-repeat="attachment in model.demo.attachments track by $index">
          <span class="form-control"><a target="_blank" ng-href="/demo/attachment?uri={{attachment.uri}}&amp;download=true&amp;filename={{attachment.attachmentName}}">{{attachment.attachmentName}}</a><a class="pull-right" ng-click="deleteAttachment(attachment, $index)"><i class="glyphicon glyphicon-trash"></i></a></span>
        </div>
        <div ng-repeat="scriptFile in model.scriptFiles">
          <span class="form-control" ng-class="{'true':'text-danger'}[scriptFile.size > 5242880]">{{scriptFile.name}} - {{scriptFile.lastModifiedDate | date:'short'}} - {{scriptFile.type}} - {{scriptFile.size | humanizeSize}}<a class="pull-right" ng-click="model.scriptFiles.splice($index,1)"><i class="glyphicon glyphicon-trash"></i></a></span>
        </div>
      </div>
      <div>
        <span class="glyphicon glyphicon-info-sign" popover="You can select multiple files at once, and repeat selection to add more. Upload size is limited to 5Mb per file." popover-placement="bottom" popover-trigger="mouseenter"></span>
      </div>
    </div>
    <div class="row form-error">
      <div class="col-md-8 col-md-offset-2" ng-show="createForm.$submitted || createForm.attachments.$touched">
        <alert ng-show="!attachmentsValid(model.scriptFiles)" type="danger" close="">One or more of your added attachments is too large.</alert>
      </div>
    </div>
    <div class="form-group media-link">
      <label class="col-sm-2 control-label">Media Links</label>
      <div class="col-sm-8">
        <a class="btn btn-primary btn-xs" ng-click="addMediaLink()">
          Add
        </a>
      </div>
      <div ng-repeat="media in model.demo.media" class="col-sm-9 col-sm-offset-2 media-row">
        <div class="col-sm-2">
          <input type="text" class="form-control" placeholder="name"  ng-model="media.mediaName"/>
        </div>
        <div class="col-sm-4">
          <input type="url" class="form-control" placeholder="url"  ng-model="media.mediaUrl"/>
        </div>
        <div class="col-sm-1">
          <input type="number" class="form-control" placeholder="w"  ng-model="media.mediaWidth"/>
        </div>
        <div class="col-sm-1">
          <input type="number" class="form-control" placeholder="h"  ng-model="media.mediaHeight"/>
        </div>
        <div class="col-sm-2">
          <select class="form-control" ng-model="media.mediaType">
            <option value="" disabled>Choose type</option>
            <option value="image">image</option>
            <option value="video">video</option>
            <option value="application">application/embed</option>
          </select>
        </div>
        <div class="col-sm-1">
          <a class="btn btn-danger btn-xs" ng-click="removeMediaLink($index)">
            <span class="glyphicon glyphicon-trash icon-white"></span>
          </a>
        </div>
        <div>
          <span class="glyphicon glyphicon-info-sign" popover="You can add links to media files too large to attach here. For Youtube, please use the embed url." popover-placement="bottom" popover-trigger="mouseenter"></span>
        </div>
      </div>
    </div>
    <div class="form-group cred">
      <label class="col-sm-2 control-label">Credentials</label>
      <div class="col-sm-8">
        <a class="btn btn-primary btn-xs" ng-click="addCredentials()">
          Add
        </a>
      </div>
    </div>
    <div class="form-group cred">
      <div ng-repeat="cred in model.demo.credentials" class="col-sm-8 col-sm-offset-2  cred-row">
<!--         <label class="col-sm-2 control-label">username</label>
 -->        <div class="col-sm-3">
          <input type="text" class="form-control" placeholder="username" ng-model="cred.username">
        </div>
        <!-- <label class="col-sm-2 control-label">password</label> -->
        <div class="col-sm-3">
          <input type="text" class="form-control" placeholder="password" ng-model="cred.password">
        </div>
        <a class="btn btn-danger btn-xs" ng-click="removeCredentials($index)">
          <span class="glyphicon glyphicon-trash icon-white"></span>
        </a>
      </div>
      <div>
        <span class="glyphicon glyphicon-info-sign" popover="User credentials for least-priv users specific for this demo." popover-placement="bottom" popover-trigger="mouseenter"></span>
      </div>
    </div>
    <div class="row code-details">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Code Details</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label required">MarkLogic Version<span>*</span></label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.demo.version" name="version" required>
      </div>
      <div>
        <span class="glyphicon glyphicon-info-sign" popover="6, 7.0, 8.0-1.1, ..." popover-placement="bottom" popover-trigger="mouseenter"></span>
      </div>
    </div>
    <div class="row form-error">
      <div class="col-md-8 col-md-offset-2" ng-show="createForm.$submitted || createForm.version.$touched">
        <alert ng-show="createForm.version.$error.required" type="danger" close="">MarkLogic Version is required.</alert>
        <alert ng-show="!versionValid(createForm.version.$viewValue)" type="danger" close="">MarkLogic Version must start with number.</alert>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Accessible at</label>
      <div class="col-sm-6">
        <input type="url" class="form-control" ng-model="model.demo.url"/>
      </div>
      <div class="col-sm-2">
        <select class="form-control" ng-model="model.demo.urlType">
          <option>internal</option>
          <option>external</option>
        </select>
      </div>
      <div>
        <span class="glyphicon glyphicon-info-sign" popover="URL at which to access the demo." popover-placement="bottom" popover-trigger="mouseenter"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Hosted at</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="model.demo.host">
      </div>
      <div class="col-sm-2">
        <select class="form-control" ng-model="model.demo.accessibility">
          <option>public</option>
          <option>requires VPN</option>
        </select>
      </div>
      <div>
        <span class="glyphicon glyphicon-info-sign" popover="The physical host name (or IP) of the machine or VM serving the demo." popover-placement="bottom" popover-trigger="mouseenter"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Code Repository</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="model.demo.repo">
      </div>
      <div>
        <span class="glyphicon glyphicon-info-sign" popover="git@.., svn:.., http://.., ..." popover-placement="bottom" popover-trigger="mouseenter"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Demo Status</label>
      <div class="col-sm-8">
        <div>
          <select class="form-control" ng-options="status for status in model.statusChoices" ng-model="model.demo.demoStatus.status" ng-change="statusChanged()">
            <option value="" disabled>Choose Status</option>
          </select>
        </div>
        <label class="control-label">{{model.demo.demoStatus.lastStatusTimestamp}}</label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2">
        <textarea class="form-control" ng-model="model.demo.demoStatus.statusDetails" rows="2" cols="100"></textarea>
      </div>
      <div>
        <span class="glyphicon glyphicon-info-sign" popover="Optional details about the current demo status" popover-placement="bottom" popover-trigger="mouseenter"></span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="pull-right">
          <a class="btn btn-default" ng-click="cancel()">Cancel</a>
          <button type="submit" ng-if="!model.edit" class="btn btn-primary" ng-click="submit()">Create</button>
          <button type="submit" ng-if="model.edit" class="btn btn-primary" ng-click="submit()">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
