<div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h2 ng-if="!model.edit">Create a Demo</h2>
      <h2 ng-if="model.edit">Edit a Demo</h2>
      <p class="text-danger" ng-if="model.formError &amp;&amp; !model.formValid">
        <strong><em>error</em>: missing required value(s) *</strong>
      </p>
    </div>
  </div>
  <form class="form-horizontal" name="createForm">
    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2">
        <strong class="required"><span>*</span> <em>required</em></strong>
      </div>
    </div>
    <div class="row site-details">
      <div class="col-md-9 col-md-offset-1">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Site Details</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label restricted">Restriction</label>
      <div class="col-sm-3">
        <label class="checkbox-inline restricted">
          <input type="checkbox" ng-model="model.demo.restricted">Access Restricted
        </label>
      </div>
    </div>
    <div class="form-group" ng-if="model.demo.restricted">
      <label class="col-sm-2 control-label text-danger restricted">Restriction Details</label>
      <div class="col-sm-8">
        <textarea class="form-control" ckeditor="editorOptions" ng-model="model.demo.restrictionDetails" placeholder="In this section provide details regarding the restrictions associated with this demo."></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label required" ng-class="{ 'text-danger': inputInvalid( model.demo.name ) }">Demo Name<span>*</span></label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="model.demo.name" required>
      </div>
    </div>
    <div class="form-group contact">
      <label class="col-sm-2 control-label required" ng-class="{ 'text-danger': inputInvalid( model.demo.persons.length ) }">Points of Contact<span>*</span></label>
      <div class="col-sm-8">
        <a class="btn btn-primary btn-xs" ng-click="addPerson()">
          Add
        </a>
      </div>
    </div>
    <div class="form-group contact">
      <div ng-repeat="person in model.demo.persons" class="col-sm-8 col-sm-offset-2 contact-row">
        <label class="col-sm-1 control-label">Role</label>
        <div class="col-sm-3">
          <select class="form-control col-sm-3" ng-options="role for role in model.personRoleChoices" ng-model="person.role">
            <option value="" disabled>Choose role</option>
          </select>
        </div>
        <label class="col-sm-1 control-label">Name</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" ng-model="person.personName">
        </div>
        <label class="col-sm-1 control-label">Email</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" ng-model="person.email">
        </div>
        <a class="btn btn-danger btn-xs" ng-click="removePerson($index)">
          <span class="glyphicon glyphicon-trash icon-white"></span>
        </a>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label required" popover="This is shown as search snippet" popover-placement="bottom" popover-trigger="mouseenter" ng-class="{ 'text-danger': inputInvalid( model.demo.shortdesc ) }">Short Description<span>*</span></label>
      <div class="col-sm-8">
        <input type="text" class="form-control" popover="Limited to 95 characters" popover-placement="bottom" popover-trigger="mouseenter" ng-model="model.demo.shortdesc" maxlength="95" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" popover="Use this to provide a longer summary of the demo. Use Memo's for extra material." popover-placement="bottom" popover-trigger="mouseenter">Long Description</label>
      <div class="col-sm-8">
        <textarea class="form-control" ckeditor="editorOptions" ng-model="model.demo.description" placeholder="In this section provide an executive summary of what the demo does. Talk about the customer problem that this is demo is addressing, without assuming that your reader is already familiar with the customer."></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Features</label>
      <div class="col-sm-8">
        <input type="text" class="feature-input form-control" ng-model="model.featureToAdd" typeahead="choice for choice in model.featureChoices"/>
        <a class="btn btn-primary btn-xs" ng-click="addFeature()">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <span class="feature" ng-repeat="feature in model.demo.features" class="btn btn-primary">{{feature}}<i class="remove-feature glyphicon glyphicon-trash" ng-click="removeFeature($index)"></i></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Technologies Used</label>
      <div class="col-sm-8">
        <input type="text" class="feature-input form-control" ng-model="model.technologyToAdd" typeahead="choice for choice in model.technologyChoices"/>
        <a class="btn btn-primary btn-xs" ng-click="addTechnology()">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <span class="feature" ng-repeat="technology in model.demo.technologies" class="btn btn-primary">{{technology}}<i class="remove-feature glyphicon glyphicon-trash" ng-click="removeTechnology($index)"></i></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Targeted Browser(s)</label>
      <div class="col-sm-1" ng-repeat="browser in model.browserChoices">
        <label class="checkbox-inline">
          <input type="checkbox" value="{{browser}}" ng-checked="model.demo.browsers.indexOf(browser) >= 0"
                 ng-click="updateBrowsers(browser)">{{browser}}
        </label>
      </div>
    </div>
    <items edit-items="model.demo.domains" item-choices="model.domainChoices" edit-type="form" mode="edit" label="Domains"/>
    <div class="form-group">
      <label class="col-sm-2 control-label">Demo Attachments</label>
      <div class="col-sm-8">
        <input type="file" class="form-control" placeholder="file://..."  ng-multiple="true" ng-file-select ng-model="model.scriptFiles"/>
        <div ng-repeat="attachment in model.demo.attachments track by $index">
          <span class="form-control"><a target="_blank" ng-href="/demo/attachment?uri={{attachment.uri}}&download=true&filename={{attachment.attachmentName}}">{{attachment.attachmentName}}</a><a class="pull-right" ng-click="deleteAttachment(attachment, $index)"><i class="glyphicon glyphicon-trash"></i></a></span>
        </div>
        <div ng-repeat="scriptFile in model.scriptFiles">
          <span class="form-control">{{scriptFile.name}}<a class="pull-right" ng-click="model.scriptFiles.splice($index,1)"><i class="glyphicon glyphicon-trash"></i></a></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Media Links</label>
      <button class="btn btn-primary btn-xs" ng-click="addMediaLink()">
        <span class="glyphicon glyphicon-plus"></span> Add
      </button>
      <div ng-repeat="media in model.demo.media" class="col-sm-10 col-sm-offset-2">
        <div class="col-sm-2">
          <input type="text" class="form-control" placeholder="Name"  ng-model="media.mediaName"/>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="//..."  ng-model="media.mediaUrl"/>
        </div>
        <div class="col-sm-1">
          <input type="text" class="form-control" placeholder="width"  ng-model="media.mediaWidth"/>
        </div>
        <div class="col-sm-1">
          <input type="text" class="form-control" placeholder="height"  ng-model="media.mediaHeight"/>
        </div>
        <div class="col-sm-2">
          <select class="form-control" ng-model="media.mediaType">
            <option value="image">image</option>
            <option value="video">video</option>
            <option value="application">application/embed</option>
          </select>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-default" ng-click="removeMediaLink($index)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group cred">
      <label class="col-sm-2 control-label">Credentials</label>
      <div class="col-sm-8">
        <a class="btn btn-primary btn-xs" ng-click="addCredentials()">
          Add
        </a>
      </div>
    </div>
    <div class="form-group cred">
      <div ng-repeat="cred in model.demo.credentials" class="col-sm-8 col-sm-offset-2  cred-row">
        <label class="col-sm-2 control-label">username</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="cred.username">
        </div>
        <label class="col-sm-2 control-label">password</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="cred.password">
        </div>
        <a class="btn btn-danger btn-xs" ng-click="removeCredentials($index)">
          <span class="glyphicon glyphicon-trash icon-white"></span>
        </a>
      </div>
    </div>
    <div class="row code-details">
      <div class="col-md-9 col-md-offset-1">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Code Details</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label required" ng-class="{ 'text-danger': inputInvalid( model.demo.version ) }">MarkLogic Version<span>*</span></label>
      <div class="col-sm-2">
        <input type="text" class="form-control" placeholder="ex: 7.0" ng-model="model.demo.version" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Hosted at</label>
      <div class="col-sm-6">
        <input type="url" class="form-control" ng-model="model.demo.host" placeholder="http://...">
      </div>
      <div class="col-sm-2">
        <select class="form-control" ng-model="model.demo.hostType">
          <option>internal</option>
          <option>external</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Code Repository</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="git@... or svn or http://..." ng-model="model.demo.repo">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Demo Status</label>
      <div class="col-sm-8">
        <div>
          <select class="form-control" ng-options="status for status in model.statusChoices" ng-model="model.demo.demoStatus.status" ng-change="statusChanged()">
            <option value="" disabled>Choose Status</option>
          </select>
        </div>
        <label class="control-label">{{model.demo.demoStatus.lastStatusTimestamp}}</label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2">
        <textarea class="form-control" placeholder="Details about the current demo status" ng-model="model.demo.demoStatus.statusDetails" rows="2" cols="100"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="pull-right">
          <a class="btn btn-default" ng-click="cancel()">Cancel</a>
          <button ng-if="!model.edit" class="btn btn-primary" ng-click="submit()">Create</button>
          <button ng-if="model.edit" class="btn btn-primary" ng-click="submit()">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
