<div>
  <div class="row">
    <div class="col-sm-2"></div>
    <h2 ng-if="!model.edit" class="col-sm-10">Create a Demo</h2>
    <h2 ng-if="model.edit" class="col-sm-10">Edit a Demo</h2>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="name of demo" ng-model="model.demo.name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" ckeditor="editorOptions" ng-model="model.demo.description" placeholder="In this section provide an executive summary of what the demo does. Talk about the customer problem that this is demo is addressing, without assuming that your reader is already familiar with the customer."></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label text-danger restricted">Restriction</label>
      <div class="col-sm-3">
        <label class="checkbox-inline text-danger restricted">
          <input type="checkbox" ng-model="model.demo.restricted">Access Restricted
        </label>
      </div>
    </div>
    <div class="form-group" ng-if="model.demo.restricted">
      <label class="col-sm-2 control-label text-danger restricted">Restriction Details</label>
      <div class="col-sm-10">
        <textarea class="form-control" ckeditor="editorOptions" ng-model="model.demo.restrictionDetails" placeholder="In this section provide details regarding the restrictions associated with this demo."></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Hosted at</label>
      <div class="col-sm-8">
        <input type="url" class="form-control" ng-model="model.demo.host" placeholder="http://...">
      </div>
      <div class="col-sm-2">
        <select class="form-control" ng-model="model.demo.hostType">
          <option>internal</option>
          <option>external</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Credentials</label>
      <button class="btn btn-primary btn-xs" ng-click="addCredentials()">
        <span class="glyphicon glyphicon-plus"></span> Add
      </button>
    </div>
    <div class="form-group">
      <div ng-repeat="cred in model.demo.credentials" class="col-sm-10 col-sm-offset-2">
        <label class="col-sm-1 control-label">username</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" ng-model="cred.username">
        </div>
        <label class="col-sm-1 control-label">password</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" ng-model="cred.password">
        </div>
        <button class="btn btn-default" ng-click="removeCredentials($index)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Targeted Browser(s)</label>
      <div class="col-sm-3" ng-repeat="browser in model.browserChoices">
        <label class="checkbox-inline">
          <input type="checkbox" value="{{browser}}" ng-checked="model.demo.browsers.indexOf(browser) >= 0"
                 ng-click="updateBrowsers(browser)">{{browser}}
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Features</label>
      <div class="col-sm-10">
        <input type="text" class="feature-input form-control" ng-model="model.featureToAdd" typeahead="choice for choice in model.featureChoices"/>
        <button class="btn btn-primary btn-xs" ng-click="addFeature()">
          <span class="glyphicon glyphicon-plus"></span> Add
        </button>
      </div>
      <div class="col-sm-10 col-sm-offset-2">
        <span class="feature" ng-repeat="feature in model.demo.features" class="btn btn-primary">{{feature}}<i class="remove-feature fa fa-times-circle" ng-click="removeFeature($index)"></i></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Technologies Used</label>
      <div class="col-sm-10">
        <input type="text" class="feature-input form-control" ng-model="model.technologyToAdd" typeahead="choice for choice in model.technologyChoices"/>
        <button class="btn btn-primary btn-xs" ng-click="addTechnology()">
          <span class="glyphicon glyphicon-plus"></span> Add
        </button>
      </div>
      <div class="col-sm-10 col-sm-offset-2">
        <span class="feature" ng-repeat="technology in model.demo.technologies" class="btn btn-primary">{{technology}}<i class="remove-feature fa fa-times-circle" ng-click="removeTechnology($index)"></i></span>
      </div>
    </div>
    <items edit-items="model.demo.domains" item-choices="model.domainChoices" edit-type="form" mode="edit" label="Domains"/>
    <div class="form-group">
      <label class="col-sm-2 control-label">Code Repository</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="git@... or svn or http://..." ng-model="model.demo.repo">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Points of Contact</label>
      <button class="btn btn-primary btn-xs" ng-click="addPerson()">
        <span class="glyphicon glyphicon-plus"></span> Add
      </button>
    </div>
    <div class="form-group">
      <div ng-repeat="person in model.demo.persons" class="col-sm-10 col-sm-offset-2">
        <label class="col-sm-1 control-label">Role</label>
        <div class="col-sm-2">
          <select ng-options="role for role in model.personRoleChoices" ng-model="person.role">
            <option value="" disabled>Choose role</option>
          </select>
        </div>
        <label class="col-sm-1 control-label">Name</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" ng-model="person.personName">
        </div>
        <label class="col-sm-1 control-label">Email</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" ng-model="person.email">
        </div>
        <button class="btn btn-default" ng-click="removePerson($index)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">MarkLogic Version</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" placeholder="7.0" ng-model="model.demo.version">
      </div>
    </div>
    <div class="row pull-right">
      <a class="btn btn-default" ng-click="cancel()">Cancel</a>
      <button ng-if="!model.edit" class="btn btn-primary" ng-click="submit()">Create</button>
      <button ng-if="model.edit" class="btn btn-primary" ng-click="submit()">Save</button>
    </div>
  </form>
</div>
