<div class="row detail">
  <h2 class="col-md-12">{{model.demo.name}}</h2>
  <editable class="desc col-md-12" edit-model="model.demo.description" edit-type="textarea" save="saveField('description', model.demo.description)"/>
  <div class="col-md-12">
    <label>Hosted at</label>
    <a ng-href="{{model.demo.host}}">{{model.demo.host}}</a>
    (<span>{{model.demo.hostType}}</span>)
  </div>
  <div class="credentials col-md-12">
    <label>Credentials</label>
    <editable edit-model="model.demo.username" edit-type="text" save="saveField('username', model.demo.username)"/>
    /
    <editable edit-model="model.demo.password" edit-type="text" save="saveField('password', model.demo.password)"/>
  </div>
  <ul class="features col-md-12">
    <label>Features</label>
    <li ng-repeat="feature in model.demo.features">{{feature}}</li>
  </ul>
  <div class="repo col-md-12">
    <label>Code repo</label>
    <editable edit-model="model.demo.repo" edit-type="text" save="saveField('repo', model.demo.repo)"/>
  </div>
  <div class="maintainer col-md-12">
    <label>Maintainer</label>
    <span>{{model.demo.maintainer}}</span>
    (<a ng-href="mailto:{{model.demo.email}}">{{model.demo.email}}</a>)
  </div>
  <div class="version col-md-12">
    <label>MarkLogic version</label>
    <editable edit-model="model.demo.version" edit-type="text" save="saveField('version', model.demo.version)"/>
  </div>
</div>
