<nav class="navbar navbar-default" role="navigation" ng-if="user && user.authenticated">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#demo-cat-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Demo Cat</a>
  </div>
  <div class="collapse navbar-collapse" id="demo-cat-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li ng-show="user.isWriter()"><form action="/create"><button class="btn btn-danger btn-sm btn-create">Create</button></form></li>
    </ul>
    <div class="navbar-form navbar-left">
      <ml-remote-input template="fa"></ml-remote-input>
    </div>
    <div class="welcome pull-right" ng-show="user.authenticated">
      <div class="navbar-collapse collapse">
        <span class="glyphicon glyphicon-user"></span> {{ user.fullname || user.name }} | <span class="profile-link"><a href="/profile">Account</a></span>

        <button class="btn btn-default btn-xs" type="button" ng-click="logout()">Logout</button>

      </div><!--/.navbar-collapse -->
    </div>
  </div><!-- /.navbar-collapse -->
  <!-- display the logged in user -->

</nav>
